


.carousel-item {
    margin-top: 20px;
    height: 450px
}

.carousel-item img{
    width: 100%; /* Ensure image fills its container */
    height: 100%; /* Ensure image fills its container */
    object-fit: cover; 
}

p img{
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

.btn-olive-green{
    background-color: olive;
    border-color: olive;
    color: white;
}

h1{
    text-align: center;
    color: rgba(96, 38, 17, 0.936);
    
}

.intropara{
    font-size: 20px;
}