body{
    background-image: url('../images/backgroundimage.webp');
    background-repeat: repeat;
}

.navbar{
    background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%);;
}

.nav-link{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image-container img {
    display: inline-block;
    height: 300px;
    width: 420px;
    padding-right: 30px;
}

.btn-olive-green{
    background-color: olive;
    border-color: olive;
    color: white;
}

h2{
    text-align: center;
    color: rgba(96, 38, 17, 0.936);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4{
    color: rgba(96, 38, 17, 0.936);
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.intropara {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card{
    border: 4px solid olive;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.float-end{
    bottom: 0;
    right: 0;
}
